.data-collection{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(auto-fill);
    gap: 50px;
}

@media screen and (max-width: 1000px) {
    .data-collection{
    grid-template-columns: repeat(2,1fr);
    }
   }
 

@media screen and (max-width: 500px) {
   .data-collection{
    display: flex;
    flex-direction: column;
   }
  }

.data-container{
    padding: 20px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
}

.data-title{
    font-size: 18pt;
    padding-bottom: 50px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    transition: 0.5s;
}
    .data-title:hover{
        padding-left: 10px;
       
    }

.data-body{
    padding-bottom: 25px;
   font-weight: 450;
   font-size: 12pt;
}
.data-author{
    padding-bottom: 25px;
    font-weight: 700;
}
.data-date{
    font-size: 12pt;
    font-style: italic;
}

.btn-container{
    padding-top: 30px;
    font-size: 12pt;
    display: flex;
    gap: 20px;
}

.updateBtn, #deleteBtn{
    cursor: pointer;
   transition: 0.5s;
}

.updateBtn:hover, #deleteBtn:hover{
    font-weight: 700;
    border-left: 1px solid black;
    padding-left: 10px;
}