.create-main{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.create-form{
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.create-form>div{
    display: flex;
    flex-direction: column;   
}

label{
    font-weight: 600;
}

input{
    height: 20px
}

#body-input{
    resize: none;
    height: 500px;
}

.btn-cont{
    justify-content: center;
    align-items: center;
    
    width: 20%;
    gap: 20px;
}

#publish-submit, #login-btn{
    background-color: var(--text);
    color: var(--background);
    font-weight: 800;
    border-radius: 15%;
    border: none;
    padding: 8px 15px;
}

#alert-mui{
    position: fixed;
    top: 20px;
    right: 30%;
}

#alert-success, #alert-error{
    display: none;
}