:root{
  --black: rgb(35,35,35)
}

body{
 padding: 20px;
 background-color: 	rgb(255,255,245);
 color: var(--black);
}

.dashboard{
  display: flex;
  justify-content: space-between;
  padding: 10px 40px 50px 20px;
  font-size: 16pt;
  border-bottom: 1px solid gray;
  font-family: "Helvetica", Sans-Serif;
  font-weight: 600;

}

.dashboard-menu{
  
 
}

.blog-name{
  font-size: 22pt;
  color: var(--black); 
  text-decoration: none;
  transition: 0.5s;
}
  .blog-name:hover{
    transform: translateX(-5px);
  }

.home-link, .create-link, .login-link{
  text-decoration: none;
  color: var(--black);
  font-size: 18pt;
  cursor: pointer;
  transition: 0.5s;
}

.login-link:hover{
  padding-right: 20px;
  border-right: 1px solid var(--black);
}

.home-link:hover{
  padding-right: 20px;
  border-right: 1px solid var(--black);
}

.create-link:hover{
  padding-right: 20px;
  border-right: 1px solid var(--black);
}

.dashboard-menu{
  display: flex;
  gap: 20px;
}
#toggle-mode{
  font-size: 12pt;
  
}
#mode-icon{
  font-size: 20pt;
}